  <div id="brainstorm">
    <div class="row">
      <div class="app-wrapper col-md-8 col-md-offset-2">
        <header class="idea-header" ng-controller="IdeaSubmissionCtrl">
          <p>Nick asked ten minutes ago:</p>
          <input type="text" value="What should we eat for lunch today?">
          <form class="add-idea clearfix" role="form" ng-submit="addIdea()">
            <div class="form-group idea-title">
              <input type="text" class="form-control " id="idea-title" placeholder="Your Response" ng-model="ideaTitle">
            </div>
            <div class="form-group idea-message clearfix">
              <textarea class="form-control" id="idea-message" rows="2" ng-hide="!ideaTitle" placeholder="Details" ng-model="ideaDesc"></textarea>
              <a href="#" id="cancel-idea" class="btn btn-link pull-left" ng-hide="!ideaTitle"><small>Cancel</small></a>
              <button type="submit" class="btn btn-sm btn-primary pull-right" ng-hide="!ideaTitle"><i class="glyphicon glyphicon-plus"></i> Add Idea</button>
            </div>
          </form>
        </header>
        <div id="app-body" class="app-body ideas" ng-controller="IdeaListCtrl">
          <div class="{{ idea.status }} idea panel panel-default" ng-repeat="idea in ideas | orderIdeasBy:'votes'">
            <div class="panel-body">
              <div class="row">
                <div class="voter pull-left">
                  <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default btn-xs upvote" ng-click="idea.upVote()"><span class="glyphicon glyphicon-chevron-up"></span></button>
                    <button type="button" class="btn btn-default btn-xs downvote" ng-click="idea.downVote()"><span class="glyphicon glyphicon-chevron-down"></span></button>
                  </div>
                  <h5>{{ idea.votes }}</h5>
                </div>
                <div class="idea-meta">
                  <h4 class="idea-title">{{ idea.get('title') }}</h4>
                  <p>{{ idea.get('desc') }}</p>
                  <small class="text-muted" am-time-ago="idea.timestamp"></small>
                </div>
              </div>
            </div>
            <footer class="clearfix">
              <div class="voters">
                <div class="upvoters">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                  <ul>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                  </ul>
                </div>
                <div class="downvoters">
                  <span class="glyphicon glyphicon-arrow-down"></span>
                  <ul>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                    <li><span class="avatar avatar-xs"><img src="http://placehold.it/20/" alt=""></span></li>
                  </ul>
                </div>
                <button class="btn btn-xs btn-link pull-right">See All Votes</button>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
