/* ==========================================================================
   Custom styling for Themed Brainstormer™
   ========================================================================== */
body {
  background: #476f90;
  -webkit-font-smoothing: antialiased;
}
#brainstorm {
  float: none;
  overflow: hidden;
  margin: 2em auto 5em;
}
.panel-default {
  border: 0;
}
/* 
   App Frame
   ========================================================================== */
.app-wrapper > header {
  border-bottom: 1px solid #ddd;
  padding-bottom: .5em;
}
.app-wrapper > header h4 {
  margin: 0;
}
.app-wrapper > header h4 span {
  font-size: .7em;
}
.app-wrapper > .idea-header {
  padding: 1em 1.5em;
  border-radius: 5px 5px 0 0;
  background-color: #093047;
}
.app-wrapper > .idea-header p {
  margin: .5em 0;
  font-size: .95em;
  font-weight: 500;
  color: #608ea9;
}
.app-wrapper > .idea-header p strong {
  color: rgba(31, 108, 138, 0.8);
}
.app-wrapper > .idea-header > input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 0 .1em .1em;
  border: 0;
  border-bottom: 2px dotted #345567;
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
}
.app-wrapper > .idea-header > input[type="text"]:focus {
  outline: 0;
  border-bottom: 2px solid #345567;
  color: white;
}
.app-body {
  border-radius: 0 0 5px 5px;
}
.app-body .pagination {
  width: 100%;
  text-align: center;
}
.app-body .pagination li {
  display: inline-block;
  margin-right: -4px;
}
/* 
   Index of Topics
   ========================================================================== */
.topic-list {
  max-height: 500px;
  padding: 1em;
  list-style: none;
}
.topic-list li {
  padding: 1em 0;
  border-bottom: 1px dotted #ddd;
}
.topic-list li h4 {
  margin: 0;
}
.topic-list li .badge {
  position: relative;
  top: -2px;
  margin-left: .5em;
}
/* 
   Idea List
   ========================================================================== */
.ideas {
  position: relative;
  max-height: 620px;
  overflow-y: scroll;
  padding: 1em;
  background: #d6d4cb;
  border-top: 0;
}
.ideas::-webkit-scrollbar {
  width: 10px;
}
.ideas::-webkit-scrollbar-track {
  background: transparent;
}
.ideas::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15000000000000002);
}
.idea {
  position: relative;
  margin-bottom: .85em;
  overflow: hidden;
  border-color: #ccc;
  box-shadow: none;
}
.idea .idea-title {
  margin-top: 0;
  font-size: 1.5em;
}
.idea .panel-body {
  padding: 1.25em;
  font-family: Georgia, serif;
  font-size: .9em;
}
.idea .voter {
  padding-left: 1em;
  text-align: center;
  border-right: 1px solid #ddd;
  padding-right: .75em;
}
.idea .voter button {
  padding: 5px 8px 3px;
}
.idea .voter .glyphicon {
  font-size: 1.2em;
}
.idea .voter h5 {
  font-size: 1.5em;
  font-weight: bold;
  color: #999;
}
.idea small {
  display: block;
  margin-top: -0.25em;
}
.idea footer {
  padding: .5em .5em .5em 11%;
  background-color: #F3F1E8;
  border-top: 1px solid #e5e1cd;
}
.idea footer button {
  color: #b0ab92;
}
.idea footer button:hover {
  text-decoration: none;
  color: #807a5c;
  background-color: #fff;
}
.voters > div {
  display: block;
  float: left;
  margin-right: 1em;
}
.voters > div > span {
  float: left;
  margin-right: .25em;
  font-size: .9em;
}
.voters > div.upvoters span {
  color: green;
}
.voters > div.downvoters span {
  color: #D32D2D;
}
.voters ul {
  float: left;
  max-width: 120px;
  margin: 0 .5em 0 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}
.voters li {
  display: inline-block;
}
.upvote {
  color: #ADD1AD;
  border-radius: 20px 20px 0 0 !important;
}
.upvote:hover {
  background: #fff;
  color: green;
}
.downvote {
  color: #D6A0A0;
  border-radius: 0 0 20px 20px !important;
}
.downvote span {
  margin-left: -2px;
}
.downvote:hover {
  background: #fff;
  color: #D32D2D;
}
.idea-upvoted .upvote {
  background: green;
  border-color: green;
  color: #C2FFC2;
}
.idea-upvoted .downvote {
  border-top-color: green;
}
.idea-upvoted .voter h5 {
  color: #067706;
}
.idea-downvoted .upvote {
  border-bottom-color: #D32D2D;
}
.idea-downvoted .downvote {
  background: #D32D2D;
  border-color: #D32D2D;
  color: pink;
}
.idea-downvoted .voter h5 {
  color: #D32D2D;
}
/* 
   Response Form
   ========================================================================== */
.add-idea {
  margin-top: 1em;
}
.add-idea input[type="text"],
.add-idea textarea {
  background: #31576F;
  border: 0;
  color: white;
}
.add-idea input[type="text"]::-webkit-input-placeholder,
.add-idea textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.add-idea input[type="text"]::-moz-placeholder,
.add-idea textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.add-idea input[type="text"]:-ms-input-placeholder,
.add-idea textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.add-idea input[type="text"]:-moz-placeholder,
.add-idea textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.add-idea input[type="text"]:focus,
.add-idea textarea:focus {
  box-shadow: none;
  background: #4881a4;
}
.add-idea .idea-title {
  margin-bottom: 0;
}
.add-idea .idea-message {
  display: none;
  margin-bottom: .5em;
}
.add-idea .idea-message textarea {
  margin-bottom: .5em;
  border-radius: 0 0 3px 3px;
  border-top: 0;
  resize: none;
}
.add-idea.active .idea-title input {
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
}
.add-idea.active .idea-message {
  display: block;
}
.add-idea .btn-primary {
  background: transparent;
  border: 0;
  color: white;
  color: rgba(255, 255, 255, 0.75);
}
.add-idea .btn-primary:hover {
  background: rgba(255, 255, 255, 0.15000000000000002);
  color: white;
}
/* 
   User List
   ========================================================================== */
.user-presence {
  padding-left: 0;
}
.user-presence ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-presence ul > li {
  margin-bottom: 1em;
  color: white;
}
.user-presence ul > li:last-child {
  margin-bottom: 0;
}
.user-presence ul > li .avatar {
  display: inline-block;
  margin-right: .25em;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.user-presence .panel-default {
  background: #3f627f;
}
.user-presence .panel-heading {
  background: #36556e;
  border-bottom: 1px solid #36556e;
  color: white;
}
.user-presence .panel-heading h5 {
  font-size: .8em;
  padding-left: .2em;
  text-transform: uppercase;
}
.user-presence .panel-heading h5 .glyphicon {
  margin-right: .5em;
}
.avatar {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 3px;
}
.avatar.avatar-xs {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
